<mat-card>
    <mat-card-title>
        <button mat-icon-button (click)="openDialogWithoutRef('add_bonus_dialog')">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialogWithoutRef('tag_person_dialog')">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <button mat-icon-button class="hashtag-btn" (click)="openDialogWithoutRef('hashtag_dialog')">
            <mat-icon>#</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <p *ngIf="formData.bonus">+{{ formData.bonus }}</p>
        <p *ngIf="formData.receiver">@{{ formData.receiver }}</p>
        <p *ngIf="formData.hashtag">#{{ formData.hashtag }}</p>
        <mat-form-field class="message-input">
            <textarea matInput [(ngModel)]="formData.message" placeholder="Enter message..." rows="4"
                required></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>#TicMe</button>
        <div class="action-group">
            <mat-icon>emoji_emotions</mat-icon>
            <mat-icon>gif</mat-icon>
            <mat-icon>image</mat-icon>
            <mat-icon>link</mat-icon>
        </div>
    </mat-card-actions>
</mat-card>
{{ formData | json }}
<button mat-button (click)="openDialogWithoutRef()">Open dialog without template ref</button>

<ng-template #add_bonus_dialog>
    <h2 matDialogTitle>Such dialog very wow!</h2>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="formData.bonus" placeholder="Enter bonus amount...">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary">Shutdown dialog</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #tag_person_dialog>
    <h2 matDialogTitle>Such dialog very wow!</h2>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="formData.receiver" placeholder="Select a staff...">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary">Shutdown dialog</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #hashtag_dialog>
    <h2 matDialogTitle>Such dialog very wow!</h2>
    <mat-dialog-content>
        <mat-form-field>
            <!-- <input matInput type="text" [(ngModel)]="formData.hashtag" placeholder="Select a hashtag..."> -->
            <mat-label>Hashtag</mat-label>
            <mat-select [(ngModel)]="formData.hashtag">
                <mat-option value="collaborator">Collaborator</mat-option>
                <mat-option value="contributor">Contributor</mat-option>
                <mat-option value="creativity">Creativity</mat-option>
                <mat-option value="customerservice">Customer Service</mat-option>
                <mat-option value="efficient">Efficient</mat-option>
                <mat-option value="excellence">Excellence</mat-option>
                <mat-option value="fairness">Fairness</mat-option>
                <mat-option value="helpful">Helpful</mat-option>
                <mat-option value="honesty">Honesty</mat-option>
                <mat-option value="initiative">Initiative</mat-option>
                <mat-option value="inspiring">Inspiring</mat-option>
                <mat-option value="innovator">Innovator</mat-option>
                <mat-option value="knowledgeable">Knowledgeable</mat-option>
                <mat-option value="leader">Leader</mat-option>
                <mat-option value="listener">Listener</mat-option>
                <mat-option value="motivator">Motivator</mat-option>
                <mat-option value="problemsolver">Problem Solver</mat-option>
                <mat-option value="productive">Productive</mat-option>
                <mat-option value="reliable">Reliable</mat-option>
                <mat-option value="responsive">Responsive</mat-option>
                <mat-option value="responsible">Responsible</mat-option>
                <mat-option value="resourceful">Resourceful</mat-option>
                <mat-option value="rolemodel">Role Model</mat-option>
                <mat-option value="teamplayer">Team Player</mat-option>
                <mat-option value="thoughtful">Thoughtful</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary">Shutdown dialog</button>
    </mat-dialog-actions>
</ng-template>