<mat-card>
    <mat-card-title>
        <p class="bonus-balance" ng-if="bonusProfile">You have <span>{{ bonusProfile?.balancePoints }} points</span> to give away</p>
        <button mat-icon-button (click)="openDialogWithoutRef('add_bonus_dialog')">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialogWithoutRef('tag_person_dialog')">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <button mat-icon-button class="hashtag-btn" (click)="openDialogWithoutRef('hashtag_dialog')">
            <mat-icon>#</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <p *ngIf="formData.bonus">+{{ formData.bonus }}</p>
        <p *ngIf="formData.receiver">@{{ formData.receiver.displayName }}</p>
        <div *ngIf="formData.hashtags">
            <p *ngFor="let hashtag of formData.hashtags">#{{ hashtag }}</p>
        </div>
        <form (ngSubmit)="onCreatePost(newsfeedForm)" #newsfeedForm="ngForm" id="newsfeedNgForm">
            <mat-form-field class="message-input">
                <textarea matInput placeholder="Enter message..." rows="4" [(ngModel)]="formData.message" name="message" #message="ngModel"
                required></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button type="submit" form="newsfeedNgForm">#TicMe</button>
        <!-- <div class="action-group">
            <mat-icon>emoji_emotions</mat-icon>
            <mat-icon>gif</mat-icon>
            <mat-icon>image</mat-icon>
            <mat-icon>link</mat-icon>
        </div> -->
    </mat-card-actions>
</mat-card>

<!-- <pre>{{ formData | json }}</pre> -->

<ng-template #add_bonus_dialog>
    <h2 matDialogTitle>Give bonus</h2>
    <i>You're only allow give the points within 5 to 10</i>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="dialogForm.bonus" placeholder="Enter bonus amount...">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button color="primary" (click)="closeDialog('bonus')">OK</button>
        <button mat-button color="primary" (click)="cancelDialog()">Cancel</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #tag_person_dialog>
    <h2 matDialogTitle>Tag a staff</h2>
    <mat-dialog-content>
        <app-standard-form-field form="form"
            [field]="{ type: 'ref', name: 'receiver', ref: 'user', displayName: 'Receiver', refName: 'displayName' }"
            [(formData)]="dialogForm"></app-standard-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button color="primary" (click)="closeDialog('receiver')">OK</button>
        <button mat-button color="primary" (click)="cancelDialog()">Cancel</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #hashtag_dialog>
    <h2 matDialogTitle>Give the staff some hashtags</h2>
    <button mat-raised-button (click)="dialogForm.hashtags.push({})" *ngIf="dialogForm.hashtags.length < 3">New Hashtag</button>
    <mat-dialog-content>
        <mat-form-field *ngFor="let hashtag of dialogForm.hashtags">
            <mat-label>Hashtag</mat-label>
            <mat-select [(ngModel)]="hashtag.name">
                <mat-option value="collaborator">Collaborator</mat-option>
                <mat-option value="contributor">Contributor</mat-option>
                <mat-option value="creativity">Creativity</mat-option>
                <mat-option value="customerservice">Customer Service</mat-option>
                <mat-option value="efficient">Efficient</mat-option>
                <mat-option value="excellence">Excellence</mat-option>
                <mat-option value="fairness">Fairness</mat-option>
                <mat-option value="helpful">Helpful</mat-option>
                <mat-option value="honesty">Honesty</mat-option>
                <mat-option value="initiative">Initiative</mat-option>
                <mat-option value="inspiring">Inspiring</mat-option>
                <mat-option value="innovator">Innovator</mat-option>
                <mat-option value="knowledgeable">Knowledgeable</mat-option>
                <mat-option value="leader">Leader</mat-option>
                <mat-option value="listener">Listener</mat-option>
                <mat-option value="motivator">Motivator</mat-option>
                <mat-option value="problemsolver">Problem Solver</mat-option>
                <mat-option value="productive">Productive</mat-option>
                <mat-option value="reliable">Reliable</mat-option>
                <mat-option value="responsive">Responsive</mat-option>
                <mat-option value="responsible">Responsible</mat-option>
                <mat-option value="resourceful">Resourceful</mat-option>
                <mat-option value="rolemodel">Role Model</mat-option>
                <mat-option value="teamplayer">Team Player</mat-option>
                <mat-option value="thoughtful">Thoughtful</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button color="primary" (click)="closeDialog('hashtag')">OK</button>
        <button mat-button color="primary" (click)="cancelDialog()">Cancel</button>
    </mat-dialog-actions>
</ng-template>