<p>newsfeed-form works!</p>

<mat-card>
    <mat-card-title>
        <button mat-icon-button (click)="openDialogWithoutRef('add_bonus_dialog')">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialogWithoutRef('tag_person_dialog')">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <button mat-icon-button class="hashtag-btn" (click)="openDialogWithoutRef('hashtag_dialog')">
            <mat-icon>#</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <textarea matInput [(ngModel)]="formData.message"></textarea>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>#TicMe</button>
        <div class="action-group">
            <mat-icon>emoji_emotions</mat-icon>
            <mat-icon>gif</mat-icon>
            <mat-icon>image</mat-icon>
            <mat-icon>link</mat-icon>
        </div>
    </mat-card-actions>
</mat-card>
{{ formData | json }}
<button mat-button (click)="openDialogWithoutRef()">Open dialog without template ref</button>

<ng-template #add_bonus_dialog>
    <h2 matDialogTitle>Such dialog very wow!</h2>
    <mat-dialog-content>
        <input type="text" [(ngModel)]="formData.bonus">
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary">Shutdown dialog</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #tag_person_dialog>
    <h2 matDialogTitle>Such dialog very wow!</h2>
    <mat-dialog-content>
        <input type="text" [(ngModel)]="formData.person">
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary">Shutdown dialog</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #hashtag_dialog>
    <h2 matDialogTitle>Such dialog very wow!</h2>
    <mat-dialog-content>
        <input type="text" [(ngModel)]="formData.hashtag">
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary">Shutdown dialog</button>
    </mat-dialog-actions>
</ng-template>