
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-app-primary: mat-palette($mat-indigo);
$ng-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-app-theme: mat-light-theme($ng-app-primary, $ng-app-accent, $ng-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-app-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-app-primary: mat-palette($mat-indigo);
$ng-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-app-theme: mat-light-theme($ng-app-primary, $ng-app-accent, $ng-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-app-theme);

// reset css
@import '~normalize.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
    width: 100%;
}

.mat-icon.icon-xs {
    font-size: 1.3rem;
}

.mat-icon.icon-md {
    font-size: 1.5rem;
}

.mat-icon.icon-lg {
    font-size: 1.7rem;
}

.mat-card[class*='card-'] {
    margin: 0 auto;
}

.mat-card.card-xs {
    max-width: 576px;
}

.mat-card.card-sm {
    max-width: 768px;
}

.mat-card.card-md {
    max-width: 992px;
}

.mat-card.card-lg {
    max-width: 1200px;
}

.mat-card[class*='card-'] mat-form-field {
    width: 100%;
}

.action-group {
    padding: 10px 0;

    > .mat-raised-button {
        margin: 0 5px;
    }
}

.standard-filter {
    margin: 10px;

    .mat-form-field {
        padding: 0 5px;
    }
}

.standard-table.mat-table {
    .mat-column-audit-updatedDate {
        width: 150px;
    }

    .mat-column-action {
        width: 250px;
    }

    .mat-column-action button {
        padding: 0 8px;
        margin: 0 5px;
    }

    .mat-column-action button .mat-icon {
        vertical-align: middle !important;
    }
}

.standard-table {
    th.mat-sort-header-sorted {
        color: black;
    }

    .number-form-fields {
        display: inline-block;
    }

    .mat-paginator {
        margin-top: 1rem;
    }

    .mat-column-select {
        width: 50px;
    }

    .mat-column-audit-updatedDate {
        width: 150px;
    }

    .mat-column-action {
        width: 200px;
        text-align: center;
    }

    .mat-column-action button {
        padding: 0 8px;
        margin: 0 5px;
    }

    a:hover {
        cursor: pointer;
    }
}

.image-wrapper {
    .input-file {
        visibility: hidden;
    }

    .image-picker {
        margin: 1rem 0;
    }

    .image-preview {
        height: 5rem;
        margin: 1rem 0;

        img {
            height: 100%;
        }
    }
}

.view-page {
    .mat-expansion-panel {
        margin-bottom: 10px;
    }

    .bg-primary,
    .bg-primary.mat-expanded:hover,
    .bg-primary.mat-expanded:focus,
    .mat-expansion-panel:not(.mat-expanded) .bg-primary,
    .mat-expansion-panel:not(.mat-expanded) .bg-primary:hover {
        background-color: #007bff;
    }

    .bg-primary .mat-expansion-panel-header-title,
    .bg-primary .mat-expansion-indicator:after {
        color: #fff;
    }

    .view-field span {
        font-weight: normal;
    }
}

