.newsfeed {
    display: flex;
    height: 100%;

    > * {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        height: calc(100% - 20px);
    }

    .main-content {
        border: 1px solid #f00;
        width: calc(100% - 300px);
    }

    .sidebar {
        border: 1px solid #ff0;
        width: 300px;

        .bonus-leaderboard,
        .hashtag-trending {
            margin: 0;
            list-style: none;

            li {
                display: flex;
                padding: 5px 0;
            }

            li > span:first-of-type {
                margin-right: auto;
            }
        }

        .hashtag-trending > li:before {
            content: '#';
        }
    }
}
