<div class="newsfeed">
    <div class="main-content">
        <app-newsfeed-form [newsfeedList]="newfeedList"></app-newsfeed-form>
        <app-newsfeed-list #newfeedList></app-newsfeed-list>
    </div>
    
    <div class="sidebar">
        <p>Game</p>
        <p>Top Bonus Receivers</p>
        <ol class="bonus-leaderboard">
            <li *ngFor="let item of bonusLeaderboard?.topBonusReceivers">
                <span>{{ item.receiver.displayName }}</span>
                <span>{{ item.count }}</span>
            </li>
        </ol>
        <p>Top Bonus Senders</p>
        <ol class="bonus-leaderboard">
            <li *ngFor="let item of bonusLeaderboard?.topBonusSenders">
                <span>{{ item.sender.displayName }}</span>
                <span>{{ item.count }}</span>
            </li>
        </ol>
        <p>Trendings</p>
        <ol class="hashtag-trending">
            <li *ngFor="let hashtag of hashtags">
                <span>{{ hashtag.name }}</span>
                <span>{{ hashtag.count }}</span>
            </li>
        </ol>
        <p>Leaderboard</p>
    </div>
</div>

