.profile-group {
    width: 200px;

    > * {
        padding: 15px 10px;
        background: #ffffff;
    }

    .profile-info {
        margin-bottom: 15px;
        text-align: center;

        .total-points {
            font-size: 12px;
            color: rgb(63, 63, 63);
            font-style: italic;
        }
    }

    .points-info {
        display: flex;
        flex-direction: row;

        > div {
            display: flex;
            flex-direction: column;
            text-align: center;
            flex: 1;
        }
    }
}