h1 {
    padding: 0 5px;
}

.main-content {
    padding: 10px 15px;
    height: calc(100% - 85px);
  }
  
  mat-sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    padding-right: 10px;
    width: 200px;
  }
  
  mat-sidenav-content {
    padding: 0 10px;

    :not(.is-auth) mat-sidenav {
        display: none;
    }

    :not(.is-auth) mat-sidenav-content {
        margin-left: 0 !important;
    }
  }
  
  mat-sidenav-container.is-opened mat-sidenav-content {
    margin-left: 200px;
  }
  
  .mat-list-item.mat-primary {
    color: #3f51b5;
  }
  
  
  .sidenav-list-item > .nested-list-item {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 2px solid #aaa;
    overflow: hidden;
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
    animation: fadein .3s;

    > .mat-list-item {
        font-size: .9rem;
        height: 36px;
    }
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  
  