<!-- <p>newsfeed-detail works!</p>

{{ data | json }} -->

<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <a href="#" class="profile-link">Lindsey</a>
    <div class="badge-group">
      <span matBadge="+5" matBadgeOverlap="true"></span>
      <span matBadge="H" matBadgeOverlap="true"></span>
    </div>
    <p>good, thanks for helping!</p>
    <div class="hashtag-group">
      <span class="hashtag-link">#teamwork</span>
      <span class="hashtag-link">#problemsolver</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="commentToggle()">
      <mat-icon>add_comment</mat-icon> Comment
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>thumb_up</mat-icon> React
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <ng-container>
      <p>Comment1</p>
      <p>Comment2</p>
      <p>Comment3</p>
      <p>Comment4</p>
      <p>Comment5</p>
    </ng-container>

    <mat-form-field *ngIf="showComment">
      <textarea matInput type="text" placeholder="Add a comment"></textarea>
    </mat-form-field>
  </mat-card-footer>
</mat-card>
