<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <a href="#" class="profile-link">{{ post.audit.createdBy.username }}</a>
    <div class="badge-group">
      <span [matBadge]="'+' + post.bonus" matBadgeOverlap="true"></span>
      <span [matBadge]="getFirstLetter(post.receiver.username)" matBadgeOverlap="true"></span>
    </div>
    <div class="more-info">
      <span class="duration">{{ lastUpdateDuration }}</span>
      <!-- <button mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button> -->
    </div>
    <p>{{ post.message }}</p>
    <div class="hashtag-group">
      <span class="hashtag-link">#{{ post.hashtag }}</span>
    </div>
    <div class="info-group">
      <span class="info-likes">
        <mat-icon class="icon-sm" color="accent">thumb_up</mat-icon>
        <span class="info">{{ post.likes.length }}</span>
      </span>
      <span class="info-comments" (click)="showCommentsToggle()">
        <mat-icon class="icon-sm" color="accent">add_comment</mat-icon>
        <span class="info">{{ post.comments.length }}</span>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="addCommentToggle()">
      <mat-icon>add_comment</mat-icon> Comment
    </button>
    <button mat-raised-button [color]="likedPost ? 'primary' : ''" (click)="likePost()">
      <mat-icon>thumb_up</mat-icon> Like
    </button>
  </mat-card-actions>
  <mat-card-footer *ngIf="post.comments.length > 0 || showCommentInput">
    <ng-container *ngIf="post.comments.length > 0">
      <p class="comment-item" *ngFor="let comment of post.comments">
        <span [matBadge]="getFirstLetter(comment.commentedBy.displayName)" matBadgeOverlap="true"></span>
        <span>{{ comment.commentedBy.displayName }}: </span>
        <span>{{ comment.message }}</span>
        <span class="duration">{{ getDuration(comment.createdDate) }}</span>
      </p>
    </ng-container>

    <mat-form-field *ngIf="showCommentInput" floatLabel="always">
      <textarea matInput type="text" placeholder="Add a comment" [(ngModel)]="postComment"></textarea>
      <button mat-raised-button (click)="sendComment()">Send</button>
    </mat-form-field>
  </mat-card-footer>
</mat-card>

<!-- <pre>{{ post | json}}</pre> -->
