mat-card {
    margin: 10px 0;

    .profile-link {
        font-size: 1.5rem;
        text-decoration: none;
        color: #385898;
        font-weight: 600;   
    }

    .profile-link:hover {
        text-decoration: underline;
    }

    .badge-group {
        height: 50px;
        border-bottom: 1px solid #eee;

        .mat-badge {
            margin-top: 10px;
            margin-right: 30px;
    
            .mat-badge-content {
                top: 10px;
                right: -25px;
                font-size: 1em;
                height: 25px;
                width: 25px;
                line-height: 25px;            
            }
        }
    }

    .hashtag-group {
        .hashtag-link {
            color: #385898;
            font-weight: 500;
            margin-right: 10px;
        }

        .hashtag-link:hover {
            cursor: pointer;
        }
    }

    mat-card-footer {
        padding: 0 10px;
        max-width: 100%;
        
        mat-form-field {
            width: 100%;
            border-top: 1px solid #eee;
        }
    }
    
}