<mat-card class="mat-elevation-z2 card-md">
  <mat-card-header>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-subtitle>Please fill-in all the required fields marked with asterisks (*).</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formData" id="form" (ngSubmit)="onSubmit(formData.valid && formData.value)" *ngIf="mode === 'new'">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Username" required autofocus />
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email" required />
      </mat-form-field>
    </form>
    <div class="mat-elevation-z8 info-message" *ngIf="mode === 'sent'">
      <p>We have sent a reset password email, please check your mailbox and click the reset password link to set your new password.</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/auth/login']" type="button"><mat-icon>arrow_back_ios</mat-icon> Login</button>
    <button mat-raised-button color="primary" type="submit" form="form" *ngIf="mode === 'new'"><mat-icon>done</mat-icon> Submit</button>
  </mat-card-actions>
</mat-card>
