.form-field-array .mat-list {
  padding-bottom: 8px;
}

.input-file {
  visibility: hidden;
}

.image-picker {
  margin: 1rem 0;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.mat-input-element.date:disabled {
  color: rgba(0, 0, 0, 0.87);
}

.form-field-table thead th {
  padding: 10px;
}

.form-field-table tbody td {
  padding: 5px;
  border-top: 2px solid #eee;
}

.form-field-table {
  overflow: auto;
}
